* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.havefun {
  /* margin: 0 auto; */
  text-align: center;
}

.headshot {
  border: 1px dotted blue;
}

.me {
  width: 200px;
  border-radius: 50%;
  border: 2px solid red;
  display: block;
  margin: 0 auto;
}
